SITE_URL=https://21k.in
PRODUCT_PRICE=199
CASHFREE_ENV=production
CASHFREE_API_VERSION=2023-08-01
CASHFREE_APP_ID=your_cashfree_app_id
CASHFREE_SECRET_KEY=your_cashfree_secret_key
SUPABASE_URL=https://ifycttfwpbtvrlsnzpee.supabase.co
SUPABASE_PUBLISHABLE_KEY=your_supabase_publishable_key
SUPABASE_SECRET_KEY=your_supabase_secret_key
